/* .contain{
    
    background: linear-gradient(135deg,green,aqua);
    height: 500px;
    width:500px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}
.dash{
    padding: 10px;
    border:1px solid;
    
    border-radius: 5px;
}
.lash{
    padding: 10px;
    border:2px solid;
    border-color: blue;
    border-radius: 5px;
}
.rash{
    padding: 10px;
    background-color: blue;
    width: 400px;

} */