

.head
{background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    
    background-repeat: no-repeat;
    background-attachment: fixed;  
  background-size: cover;
}



    .nam{
    color: black;
     
}
.nom{
    color: black;
    

    
}
.bb{
padding: 20px 0px;
    margin: 60px 550px;
    text-align: center;
}
.mon{
    color: black;
    
    height: 40px;
    width: 40px;
    padding: 0px 16px;


}
.fro{
    color: rgb(0, 255, 255);
}
.but{
    margin-left: 20px;
    padding: 12px;
    border-radius: 25px;
    
    border: 1px solid aqua;
    
    background-color:aqua;
    color: black;
    width: 250px;
    
    font-size: larger;
    margin-top: 50px;
    

} 
.nav{

position: relative;
gap: 50px;


}
