.mond{
  background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;  
  background-size: cover;
    
}
.down{
    position: relative;
    top: 100px;
}




